@font-face {
  font-family: "kenvector";
  src: url("../../static/font/kenvector_future_thin.ttf") format("truetype");
}

body {
  margin: 0px;
  padding: 0px;
}

canvas {
  vertical-align: bottom;
}
