<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Letters/letterA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,64}</string>
                <key>spriteSourceSize</key>
                <string>{61,64}</string>
                <key>textureRect</key>
                <string>{{1,1403},{61,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Letters/letterB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,66}</string>
                <key>spriteSourceSize</key>
                <string>{50,66}</string>
                <key>textureRect</key>
                <string>{{639,1100},{50,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Letters/letterC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,66}</string>
                <key>spriteSourceSize</key>
                <string>{52,66}</string>
                <key>textureRect</key>
                <string>{{871,1086},{52,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Letters/letterD.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,66}</string>
                <key>spriteSourceSize</key>
                <string>{54,66}</string>
                <key>textureRect</key>
                <string>{{292,1409},{54,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Letters/letterE.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,64}</string>
                <key>spriteSourceSize</key>
                <string>{45,64}</string>
                <key>textureRect</key>
                <string>{{881,481},{45,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Letters/letterF.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,64}</string>
                <key>spriteSourceSize</key>
                <string>{44,64}</string>
                <key>textureRect</key>
                <string>{{881,717},{44,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Letters/letterG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,66}</string>
                <key>spriteSourceSize</key>
                <string>{52,66}</string>
                <key>textureRect</key>
                <string>{{815,1240},{52,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Letters/letterH.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,64}</string>
                <key>spriteSourceSize</key>
                <string>{51,64}</string>
                <key>textureRect</key>
                <string>{{623,1408},{51,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Letters/letterI.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,64}</string>
                <key>spriteSourceSize</key>
                <string>{22,64}</string>
                <key>textureRect</key>
                <string>{{883,321},{22,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Letters/letterJ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,66}</string>
                <key>spriteSourceSize</key>
                <string>{42,66}</string>
                <key>textureRect</key>
                <string>{{883,253},{42,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Letters/letterK.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,64}</string>
                <key>spriteSourceSize</key>
                <string>{53,64}</string>
                <key>textureRect</key>
                <string>{{689,1400},{53,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Letters/letterL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,64}</string>
                <key>spriteSourceSize</key>
                <string>{44,64}</string>
                <key>textureRect</key>
                <string>{{881,783},{44,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Letters/letterM.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,64}</string>
                <key>spriteSourceSize</key>
                <string>{66,64}</string>
                <key>textureRect</key>
                <string>{{803,415},{66,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Letters/letterN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,64}</string>
                <key>spriteSourceSize</key>
                <string>{53,64}</string>
                <key>textureRect</key>
                <string>{{744,1400},{53,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Letters/letterO.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,66}</string>
                <key>spriteSourceSize</key>
                <string>{60,66}</string>
                <key>textureRect</key>
                <string>{{453,1404},{60,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Letters/letterP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,65}</string>
                <key>spriteSourceSize</key>
                <string>{48,65}</string>
                <key>textureRect</key>
                <string>{{686,1313},{48,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Letters/letterQ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,79}</string>
                <key>spriteSourceSize</key>
                <string>{60,79}</string>
                <key>textureRect</key>
                <string>{{133,1403},{60,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Letters/letterR.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,65}</string>
                <key>spriteSourceSize</key>
                <string>{51,65}</string>
                <key>textureRect</key>
                <string>{{804,1347},{51,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Letters/letterS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{531,1254},{46,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Letters/letterT.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,64}</string>
                <key>spriteSourceSize</key>
                <string>{52,64}</string>
                <key>textureRect</key>
                <string>{{799,1400},{52,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Letters/letterU.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,66}</string>
                <key>spriteSourceSize</key>
                <string>{51,66}</string>
                <key>textureRect</key>
                <string>{{736,1343},{51,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Letters/letterV.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,64}</string>
                <key>spriteSourceSize</key>
                <string>{61,64}</string>
                <key>textureRect</key>
                <string>{{67,1403},{61,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Letters/letterW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,64}</string>
                <key>spriteSourceSize</key>
                <string>{76,64}</string>
                <key>textureRect</key>
                <string>{{579,1262},{76,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Letters/letterX.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,64}</string>
                <key>spriteSourceSize</key>
                <string>{58,64}</string>
                <key>textureRect</key>
                <string>{{363,1406},{58,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Letters/letterY.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,64}</string>
                <key>spriteSourceSize</key>
                <string>{57,64}</string>
                <key>textureRect</key>
                <string>{{869,415},{57,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Letters/letterZ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,64}</string>
                <key>spriteSourceSize</key>
                <string>{50,64}</string>
                <key>textureRect</key>
                <string>{{853,1400},{50,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Numbers/number0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,78}</string>
                <key>spriteSourceSize</key>
                <string>{53,78}</string>
                <key>textureRect</key>
                <string>{{852,637},{53,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Numbers/number1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,76}</string>
                <key>spriteSourceSize</key>
                <string>{37,76}</string>
                <key>textureRect</key>
                <string>{{883,175},{37,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Numbers/number2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,77}</string>
                <key>spriteSourceSize</key>
                <string>{51,77}</string>
                <key>textureRect</key>
                <string>{{819,1161},{51,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Numbers/number3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,78}</string>
                <key>spriteSourceSize</key>
                <string>{51,78}</string>
                <key>textureRect</key>
                <string>{{872,1154},{51,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Numbers/number4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,76}</string>
                <key>spriteSourceSize</key>
                <string>{55,76}</string>
                <key>textureRect</key>
                <string>{{214,1409},{55,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Numbers/number5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,76}</string>
                <key>spriteSourceSize</key>
                <string>{50,76}</string>
                <key>textureRect</key>
                <string>{{736,1291},{50,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Numbers/number6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,77}</string>
                <key>spriteSourceSize</key>
                <string>{53,77}</string>
                <key>textureRect</key>
                <string>{{657,1258},{53,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Numbers/number7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{814,1294},{51,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Numbers/number8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,78}</string>
                <key>spriteSourceSize</key>
                <string>{51,78}</string>
                <key>textureRect</key>
                <string>{{633,1328},{51,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Numbers/number9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,77}</string>
                <key>spriteSourceSize</key>
                <string>{53,77}</string>
                <key>textureRect</key>
                <string>{{736,1236},{53,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Planes/planeBlue1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,73}</string>
                <key>spriteSourceSize</key>
                <string>{88,73}</string>
                <key>textureRect</key>
                <string>{{366,1151},{88,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Planes/planeBlue2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,73}</string>
                <key>spriteSourceSize</key>
                <string>{88,73}</string>
                <key>textureRect</key>
                <string>{{579,1172},{88,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Planes/planeBlue3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,73}</string>
                <key>spriteSourceSize</key>
                <string>{88,73}</string>
                <key>textureRect</key>
                <string>{{366,1241},{88,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Planes/planeGreen1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,73}</string>
                <key>spriteSourceSize</key>
                <string>{88,73}</string>
                <key>textureRect</key>
                <string>{{441,1254},{88,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Planes/planeGreen2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,73}</string>
                <key>spriteSourceSize</key>
                <string>{88,73}</string>
                <key>textureRect</key>
                <string>{{363,1331},{88,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Planes/planeGreen3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,73}</string>
                <key>spriteSourceSize</key>
                <string>{88,73}</string>
                <key>textureRect</key>
                <string>{{453,1329},{88,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Planes/planeRed1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,73}</string>
                <key>spriteSourceSize</key>
                <string>{88,73}</string>
                <key>textureRect</key>
                <string>{{543,1328},{88,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Planes/planeRed2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,73}</string>
                <key>spriteSourceSize</key>
                <string>{88,73}</string>
                <key>textureRect</key>
                <string>{{852,547},{88,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Planes/planeRed3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,73}</string>
                <key>spriteSourceSize</key>
                <string>{88,73}</string>
                <key>textureRect</key>
                <string>{{691,1086},{88,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Planes/planeYellow1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,73}</string>
                <key>spriteSourceSize</key>
                <string>{88,73}</string>
                <key>textureRect</key>
                <string>{{781,1086},{88,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Planes/planeYellow2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,73}</string>
                <key>spriteSourceSize</key>
                <string>{88,73}</string>
                <key>textureRect</key>
                <string>{{654,1168},{88,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Planes/planeYellow3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,73}</string>
                <key>spriteSourceSize</key>
                <string>{88,73}</string>
                <key>textureRect</key>
                <string>{{729,1161},{88,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI/UIbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,264}</string>
                <key>spriteSourceSize</key>
                <string>{264,264}</string>
                <key>textureRect</key>
                <string>{{366,483},{264,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI/buttonLarge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,70}</string>
                <key>spriteSourceSize</key>
                <string>{196,70}</string>
                <key>textureRect</key>
                <string>{{441,1100},{196,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI/buttonSmall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,80}</string>
                <key>spriteSourceSize</key>
                <string>{136,80}</string>
                <key>textureRect</key>
                <string>{{441,1172},{136,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI/medalBronze.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,119}</string>
                <key>spriteSourceSize</key>
                <string>{114,119}</string>
                <key>textureRect</key>
                <string>{{242,1293},{114,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>UI/medalGold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,119}</string>
                <key>spriteSourceSize</key>
                <string>{114,119}</string>
                <key>textureRect</key>
                <string>{{682,965},{114,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI/medalSilver.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,119}</string>
                <key>spriteSourceSize</key>
                <string>{114,119}</string>
                <key>textureRect</key>
                <string>{{798,965},{114,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI/tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-9}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{881,849},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI/tapLeft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,42}</string>
                <key>spriteSourceSize</key>
                <string>{85,42}</string>
                <key>textureRect</key>
                <string>{{883,1},{85,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>UI/tapRight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,42}</string>
                <key>spriteSourceSize</key>
                <string>{85,42}</string>
                <key>textureRect</key>
                <string>{{883,88},{85,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>UI/tapTick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{521,1404},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI/textGameOver.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{412,78}</string>
                <key>spriteSourceSize</key>
                <string>{412,78}</string>
                <key>textureRect</key>
                <string>{{803,1},{412,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>UI/textGetReady.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,73}</string>
                <key>spriteSourceSize</key>
                <string>{400,73}</string>
                <key>textureRect</key>
                <string>{{366,749},{400,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,480}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>groundDirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{808,71}</string>
                <key>spriteSourceSize</key>
                <string>{808,71}</string>
                <key>textureRect</key>
                <string>{{1,483},{808,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>groundGrass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{808,71}</string>
                <key>spriteSourceSize</key>
                <string>{808,71}</string>
                <key>textureRect</key>
                <string>{{74,483},{808,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>groundIce.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{808,71}</string>
                <key>spriteSourceSize</key>
                <string>{808,71}</string>
                <key>textureRect</key>
                <string>{{147,483},{808,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>groundRock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{808,71}</string>
                <key>spriteSourceSize</key>
                <string>{808,71}</string>
                <key>textureRect</key>
                <string>{{220,483},{808,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>groundSnow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{808,71}</string>
                <key>spriteSourceSize</key>
                <string>{808,71}</string>
                <key>textureRect</key>
                <string>{{293,483},{808,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>puffLarge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,35}</string>
                <key>spriteSourceSize</key>
                <string>{42,35}</string>
                <key>textureRect</key>
                <string>{{881,892},{42,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>puffSmall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,21}</string>
                <key>spriteSourceSize</key>
                <string>{25,21}</string>
                <key>textureRect</key>
                <string>{{582,1443},{25,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,239}</string>
                <key>spriteSourceSize</key>
                <string>{108,239}</string>
                <key>textureRect</key>
                <string>{{1,1293},{108,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rockDown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,239}</string>
                <key>spriteSourceSize</key>
                <string>{108,239}</string>
                <key>textureRect</key>
                <string>{{632,483},{108,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rockGrass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,239}</string>
                <key>spriteSourceSize</key>
                <string>{108,239}</string>
                <key>textureRect</key>
                <string>{{441,749},{108,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rockGrassDown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,239}</string>
                <key>spriteSourceSize</key>
                <string>{108,239}</string>
                <key>textureRect</key>
                <string>{{551,749},{108,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rockIce.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,239}</string>
                <key>spriteSourceSize</key>
                <string>{108,239}</string>
                <key>textureRect</key>
                <string>{{441,990},{108,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rockIceDown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,239}</string>
                <key>spriteSourceSize</key>
                <string>{108,239}</string>
                <key>textureRect</key>
                <string>{{742,483},{108,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rockSnow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,239}</string>
                <key>spriteSourceSize</key>
                <string>{108,239}</string>
                <key>textureRect</key>
                <string>{{661,724},{108,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rockSnowDown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,239}</string>
                <key>spriteSourceSize</key>
                <string>{108,239}</string>
                <key>textureRect</key>
                <string>{{771,724},{108,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starBronze.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,38}</string>
                <key>spriteSourceSize</key>
                <string>{39,38}</string>
                <key>textureRect</key>
                <string>{{582,1403},{39,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starGold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,38}</string>
                <key>spriteSourceSize</key>
                <string>{39,38}</string>
                <key>textureRect</key>
                <string>{{883,1234},{39,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSilver.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,38}</string>
                <key>spriteSourceSize</key>
                <string>{39,38}</string>
                <key>textureRect</key>
                <string>{{871,1347},{39,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atlas.png</string>
            <key>size</key>
            <string>{927,1465}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a51f7c8b7a0aba10c754e926961a9e7e:0f42ce3a1210c7dbaac7a3e1839dd520:21d34b1ac1e7d41f765d139a133eeccc$</string>
            <key>textureFileName</key>
            <string>atlas.png</string>
        </dict>
    </dict>
</plist>
