<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Explosion/explosion_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{128,889},{128,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion/explosion_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{370,761},{128,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion/explosion_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{626,761},{128,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion/explosion_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{114,761},{128,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion/explosion_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{242,761},{128,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion/explosion_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{498,761},{128,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion/explosion_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{754,761},{128,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion/explosion_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{256,889},{128,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion/explosion_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{0,889},{128,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Letters/letterA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,64}</string>
                <key>spriteSourceSize</key>
                <string>{61,64}</string>
                <key>textureRect</key>
                <string>{{96,64},{61,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Letters/letterB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,66}</string>
                <key>spriteSourceSize</key>
                <string>{50,66}</string>
                <key>textureRect</key>
                <string>{{480,64},{50,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Letters/letterC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,66}</string>
                <key>spriteSourceSize</key>
                <string>{52,66}</string>
                <key>textureRect</key>
                <string>{{374,64},{52,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Letters/letterD.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,66}</string>
                <key>spriteSourceSize</key>
                <string>{54,66}</string>
                <key>textureRect</key>
                <string>{{426,64},{54,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Letters/letterE.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,64}</string>
                <key>spriteSourceSize</key>
                <string>{45,64}</string>
                <key>textureRect</key>
                <string>{{157,64},{45,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Letters/letterF.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,64}</string>
                <key>spriteSourceSize</key>
                <string>{44,64}</string>
                <key>textureRect</key>
                <string>{{52,64},{44,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Letters/letterG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,66}</string>
                <key>spriteSourceSize</key>
                <string>{52,66}</string>
                <key>textureRect</key>
                <string>{{572,64},{52,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Letters/letterH.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,64}</string>
                <key>spriteSourceSize</key>
                <string>{51,64}</string>
                <key>textureRect</key>
                <string>{{202,64},{51,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Letters/letterI.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,64}</string>
                <key>spriteSourceSize</key>
                <string>{22,64}</string>
                <key>textureRect</key>
                <string>{{253,64},{22,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Letters/letterJ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,66}</string>
                <key>spriteSourceSize</key>
                <string>{42,66}</string>
                <key>textureRect</key>
                <string>{{530,64},{42,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Letters/letterK.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,64}</string>
                <key>spriteSourceSize</key>
                <string>{53,64}</string>
                <key>textureRect</key>
                <string>{{822,0},{53,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Letters/letterL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,64}</string>
                <key>spriteSourceSize</key>
                <string>{44,64}</string>
                <key>textureRect</key>
                <string>{{591,0},{44,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Letters/letterM.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,64}</string>
                <key>spriteSourceSize</key>
                <string>{66,64}</string>
                <key>textureRect</key>
                <string>{{525,0},{66,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Letters/letterN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,64}</string>
                <key>spriteSourceSize</key>
                <string>{53,64}</string>
                <key>textureRect</key>
                <string>{{472,0},{53,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Letters/letterO.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,66}</string>
                <key>spriteSourceSize</key>
                <string>{60,66}</string>
                <key>textureRect</key>
                <string>{{624,64},{60,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Letters/letterP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,65}</string>
                <key>spriteSourceSize</key>
                <string>{48,65}</string>
                <key>textureRect</key>
                <string>{{326,64},{48,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Letters/letterQ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,79}</string>
                <key>spriteSourceSize</key>
                <string>{60,79}</string>
                <key>textureRect</key>
                <string>{{516,642},{60,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Letters/letterR.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,65}</string>
                <key>spriteSourceSize</key>
                <string>{51,65}</string>
                <key>textureRect</key>
                <string>{{275,64},{51,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Letters/letterS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{735,64},{46,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Letters/letterT.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,64}</string>
                <key>spriteSourceSize</key>
                <string>{52,64}</string>
                <key>textureRect</key>
                <string>{{0,64},{52,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Letters/letterU.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,66}</string>
                <key>spriteSourceSize</key>
                <string>{51,66}</string>
                <key>textureRect</key>
                <string>{{684,64},{51,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Letters/letterV.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,64}</string>
                <key>spriteSourceSize</key>
                <string>{61,64}</string>
                <key>textureRect</key>
                <string>{{635,0},{61,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Letters/letterW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,64}</string>
                <key>spriteSourceSize</key>
                <string>{76,64}</string>
                <key>textureRect</key>
                <string>{{746,0},{76,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Letters/letterX.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,64}</string>
                <key>spriteSourceSize</key>
                <string>{58,64}</string>
                <key>textureRect</key>
                <string>{{875,0},{58,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Letters/letterY.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,64}</string>
                <key>spriteSourceSize</key>
                <string>{57,64}</string>
                <key>textureRect</key>
                <string>{{933,0},{57,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Letters/letterZ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,64}</string>
                <key>spriteSourceSize</key>
                <string>{50,64}</string>
                <key>textureRect</key>
                <string>{{696,0},{50,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Numbers/number0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,78}</string>
                <key>spriteSourceSize</key>
                <string>{53,78}</string>
                <key>textureRect</key>
                <string>{{412,642},{53,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Numbers/number1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,76}</string>
                <key>spriteSourceSize</key>
                <string>{37,76}</string>
                <key>textureRect</key>
                <string>{{681,564},{37,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Numbers/number2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,77}</string>
                <key>spriteSourceSize</key>
                <string>{51,77}</string>
                <key>textureRect</key>
                <string>{{875,564},{51,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Numbers/number3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,78}</string>
                <key>spriteSourceSize</key>
                <string>{51,78}</string>
                <key>textureRect</key>
                <string>{{465,642},{51,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Numbers/number4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,76}</string>
                <key>spriteSourceSize</key>
                <string>{55,76}</string>
                <key>textureRect</key>
                <string>{{576,564},{55,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Numbers/number5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,76}</string>
                <key>spriteSourceSize</key>
                <string>{50,76}</string>
                <key>textureRect</key>
                <string>{{631,564},{50,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Numbers/number6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,77}</string>
                <key>spriteSourceSize</key>
                <string>{53,77}</string>
                <key>textureRect</key>
                <string>{{822,564},{53,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Numbers/number7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{718,564},{51,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Numbers/number8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,78}</string>
                <key>spriteSourceSize</key>
                <string>{51,78}</string>
                <key>textureRect</key>
                <string>{{926,564},{51,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Numbers/number9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,77}</string>
                <key>spriteSourceSize</key>
                <string>{53,77}</string>
                <key>textureRect</key>
                <string>{{769,564},{53,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Planes/planeBlue1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,73}</string>
                <key>spriteSourceSize</key>
                <string>{88,73}</string>
                <key>textureRect</key>
                <string>{{400,564},{88,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Planes/planeBlue2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,73}</string>
                <key>spriteSourceSize</key>
                <string>{88,73}</string>
                <key>textureRect</key>
                <string>{{488,564},{88,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Planes/planeBlue3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,73}</string>
                <key>spriteSourceSize</key>
                <string>{88,73}</string>
                <key>textureRect</key>
                <string>{{528,491},{88,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Planes/planeGreen1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,73}</string>
                <key>spriteSourceSize</key>
                <string>{88,73}</string>
                <key>textureRect</key>
                <string>{{0,491},{88,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Planes/planeGreen2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,73}</string>
                <key>spriteSourceSize</key>
                <string>{88,73}</string>
                <key>textureRect</key>
                <string>{{896,418},{88,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Planes/planeGreen3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,73}</string>
                <key>spriteSourceSize</key>
                <string>{88,73}</string>
                <key>textureRect</key>
                <string>{{808,418},{88,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Planes/planeRed1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,73}</string>
                <key>spriteSourceSize</key>
                <string>{88,73}</string>
                <key>textureRect</key>
                <string>{{88,491},{88,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Planes/planeRed2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,73}</string>
                <key>spriteSourceSize</key>
                <string>{88,73}</string>
                <key>textureRect</key>
                <string>{{176,491},{88,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Planes/planeRed3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,73}</string>
                <key>spriteSourceSize</key>
                <string>{88,73}</string>
                <key>textureRect</key>
                <string>{{352,491},{88,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Planes/planeYellow1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,73}</string>
                <key>spriteSourceSize</key>
                <string>{88,73}</string>
                <key>textureRect</key>
                <string>{{440,491},{88,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Planes/planeYellow2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,73}</string>
                <key>spriteSourceSize</key>
                <string>{88,73}</string>
                <key>textureRect</key>
                <string>{{264,491},{88,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Planes/planeYellow3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,73}</string>
                <key>spriteSourceSize</key>
                <string>{88,73}</string>
                <key>textureRect</key>
                <string>{{616,491},{88,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI/UIbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,264}</string>
                <key>spriteSourceSize</key>
                <string>{264,264}</string>
                <key>textureRect</key>
                <string>{{324,1128},{264,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI/buttonLarge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,70}</string>
                <key>spriteSourceSize</key>
                <string>{196,70}</string>
                <key>textureRect</key>
                <string>{{781,64},{196,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI/buttonSmall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,80}</string>
                <key>spriteSourceSize</key>
                <string>{136,80}</string>
                <key>textureRect</key>
                <string>{{576,642},{136,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI/medalBronze.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,119}</string>
                <key>spriteSourceSize</key>
                <string>{114,119}</string>
                <key>textureRect</key>
                <string>{{712,642},{114,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI/medalGold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,119}</string>
                <key>spriteSourceSize</key>
                <string>{114,119}</string>
                <key>textureRect</key>
                <string>{{826,642},{114,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI/medalSilver.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,119}</string>
                <key>spriteSourceSize</key>
                <string>{114,119}</string>
                <key>textureRect</key>
                <string>{{0,761},{114,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI/tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{360,0},{52,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI/tapLeft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,42}</string>
                <key>spriteSourceSize</key>
                <string>{85,42}</string>
                <key>textureRect</key>
                <string>{{269,0},{85,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI/tapRight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,42}</string>
                <key>spriteSourceSize</key>
                <string>{85,42}</string>
                <key>textureRect</key>
                <string>{{184,0},{85,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI/tapTick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{413,0},{57,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI/textGameOver.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{412,78}</string>
                <key>spriteSourceSize</key>
                <string>{412,78}</string>
                <key>textureRect</key>
                <string>{{0,642},{412,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI/textGetReady.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,73}</string>
                <key>spriteSourceSize</key>
                <string>{400,73}</string>
                <key>textureRect</key>
                <string>{{0,564},{400,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,480}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{0,1392},{800,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>groundDirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{808,71}</string>
                <key>spriteSourceSize</key>
                <string>{808,71}</string>
                <key>textureRect</key>
                <string>{{0,418},{808,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>groundGrass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{808,71}</string>
                <key>spriteSourceSize</key>
                <string>{808,71}</string>
                <key>textureRect</key>
                <string>{{0,349},{808,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>groundIce.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{808,71}</string>
                <key>spriteSourceSize</key>
                <string>{808,71}</string>
                <key>textureRect</key>
                <string>{{0,205},{808,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>groundRock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{808,71}</string>
                <key>spriteSourceSize</key>
                <string>{808,71}</string>
                <key>textureRect</key>
                <string>{{0,134},{808,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>groundSnow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{808,71}</string>
                <key>spriteSourceSize</key>
                <string>{808,71}</string>
                <key>textureRect</key>
                <string>{{0,276},{808,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puffLarge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,35}</string>
                <key>spriteSourceSize</key>
                <string>{42,35}</string>
                <key>textureRect</key>
                <string>{{25,0},{42,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puffSmall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,21}</string>
                <key>spriteSourceSize</key>
                <string>{25,21}</string>
                <key>textureRect</key>
                <string>{{0,0},{25,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,239}</string>
                <key>spriteSourceSize</key>
                <string>{108,239}</string>
                <key>textureRect</key>
                <string>{{816,889},{108,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rockDown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,239}</string>
                <key>spriteSourceSize</key>
                <string>{108,239}</string>
                <key>textureRect</key>
                <string>{{0,1128},{108,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rockGrass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,239}</string>
                <key>spriteSourceSize</key>
                <string>{108,239}</string>
                <key>textureRect</key>
                <string>{{216,1128},{106,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rockGrassDown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,239}</string>
                <key>spriteSourceSize</key>
                <string>{108,239}</string>
                <key>textureRect</key>
                <string>{{108,1128},{108,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rockIce.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,239}</string>
                <key>spriteSourceSize</key>
                <string>{108,239}</string>
                <key>textureRect</key>
                <string>{{708,889},{108,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rockIceDown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,239}</string>
                <key>spriteSourceSize</key>
                <string>{108,239}</string>
                <key>textureRect</key>
                <string>{{600,889},{108,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rockSnow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,239}</string>
                <key>spriteSourceSize</key>
                <string>{108,239}</string>
                <key>textureRect</key>
                <string>{{384,889},{108,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rockSnowDown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,239}</string>
                <key>spriteSourceSize</key>
                <string>{108,239}</string>
                <key>textureRect</key>
                <string>{{492,889},{108,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starBronze.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,38}</string>
                <key>spriteSourceSize</key>
                <string>{39,38}</string>
                <key>textureRect</key>
                <string>{{106,0},{39,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starGold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,38}</string>
                <key>spriteSourceSize</key>
                <string>{39,38}</string>
                <key>textureRect</key>
                <string>{{145,0},{39,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSilver.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,38}</string>
                <key>spriteSourceSize</key>
                <string>{39,38}</string>
                <key>textureRect</key>
                <string>{{67,0},{39,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atlas.png</string>
            <key>size</key>
            <string>{990,1872}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9298f3a9f0d6a17375e03a2fa32e1569:693ce6c2d0c110bcd4b4cb007c77b0e3:21d34b1ac1e7d41f765d139a133eeccc$</string>
            <key>textureFileName</key>
            <string>atlas.png</string>
        </dict>
    </dict>
</plist>
